.login-container {
  background-image: url('../imagen/fondo2.jpg');
}
.background-login{
  background-image: url('../imagen/back.jpg');
  background-size: 682px;
}
.imagen-login{
  width: 80%;
  height: 80%;
}
div#imgLOAD{
  height: 680px;
  width: 1340px;
  z-index: 100;
  background-color: #ffffff;
  padding-top: 260px;
}
