 @charset "UTF-8";

.magnify {
  z-index: 20;
  position: relative;
  width:45vw;
  height:40vw;
  margin:0px auto;
  overflow: hidden;
}
.magnify img {
  display:block;
}
.element_to_magnify {
  position: relative;
  width:45vw;
  height:40vw;
    overflow: hidden;
}
.element_to_magnify a {
  display:block;
  position:absolute;
  top:80px;
  right:80px;

  background-color:rgba(200, 200, 200, .25);
  padding:4px;
  font-size:18px;
  color:#fff;
}
.element_to_magnify img{
  width:45vw;
  height:40vw;
}
.magnified_element {

}
.magnify_glass {
  z-index: 300;
  position: absolute;
  width: 150px;
  height: 150px;
  cursor: move;
}
.mg_ring {
  pointer-events: none;
  background:none;
  position: absolute;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   -ms-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  border: 4px solid #CCC;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 20;

}
.mg_zone {
  position: absolute;
  border-radius: 50%;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow:hidden;
}
.pm_btn {
  border: 4px solid #CCC;
  z-index: 30;
  color: #333;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}
.pm_btn h2{
padding-rigth: -100px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.minus {
  right:-24px;
  bottom:30px;
}
.plus {
  right:0px;
  bottom:-5px;
}
.button {
  width:30px;
  height: 30px;
  padding-top: 5px;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgba(50, 50, 50, .5);
  position: absolute;
  text-indent: -999em;
  border:solid black 1px;
}









.magnify2 {
  z-index: 20;
  border: 3px solid #999;
  position: relative;
  width:400px;
    height:320px;
  margin:0px auto;
  overflow: hidden;
}
.magnify2 img {
  display:block;
}
.magnify3 {
  z-index: 20;
  border: 3px solid #999;
  position: relative;
  width:400px;
    height:320px;
  margin:0px auto;
  overflow: hidden;
}
.magnify3 img {
  display:block;
}
.element_to_magnify2 {
  position: relative;
  width:400px;
    height:440px;
    overflow: hidden;
}
.element_to_magnify2 a {
  display:block;
  position:absolute;
  top:80px;
  right:80px;
  background-color:rgba(200, 200, 200, .25);
  padding:4px;
  font-size:18px;
  color:#fff;
}
.element_to_magnify2 img{
  width: 100%;
  height: auto;
}
.magnified_element {

}
.magnify_glass2 {
  z-index: 300;
  position: absolute;
  width: 150px;
  height: 150px;
  cursor: move;
}
.mg_ring2 {
  pointer-events: none;
  background:none;
  position: absolute;
  -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   -ms-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
  border: 4px solid #CCC;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  z-index: 20;

}
.mg_zone2 {
  position: absolute;
  border-radius: 50%;
  top:0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10;
  overflow:hidden;
}
.pm_btn2 {
  border: 4px solid #CCC;
  z-index: 30;
  color: #333;
  position: absolute;
  width: 40px;
  height: 40px;
  background-color: #fff;
  border-radius: 50%;
}
.pm_btn2 h2{
padding-rigth: -100px;
  text-align: center;
  user-select: none;
  cursor: pointer;
}
.minus2 {
  right:-24px;
  bottom:30px;
}
.plus2 {
  right:0px;
  bottom:-5px;
}
.button2 {
  width:30px;
  height: 30px;
  padding-top: 5px;
  overflow: hidden;
  border-radius: 50%;
  background-color: rgba(50, 50, 50, .5);
  position: absolute;
  text-indent: -999em;
  border:solid black 1px;
}
